.coverage
.env/
.mypy_cache/
__pycache__/
*.egg-info
.vscode/
.pytest_cache/
build/
dist/

# Eikobot internals
eikobot/core/package_manager/cache
eikobot/core/package_manager/lib
eikobot/core/lib/
!eikobot/core/lib/__init__.py
!eikobot/core/lib/std/

.eikobot_cache

# Test files
/test.eiko
/test.py
